
main {
  text-align: center;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.js-bookmark {
  border: 1px solid black;
  margin-bottom: 5vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

h3 {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
}
